
@{
    ViewBag.Title = "Resumo";
}
<div class="jumbotron">
    <h2>Resumo</h2>
    <p>Arquivo: @ViewBag.nomeArquivo</p>

    @foreach (var item in ViewBag.PreOrPos)
    {
        <p>@item.Chave - Quantidade: @item.Quantidade</p>
    }

    @foreach (var item in ViewBag.QtdaOcorrencias)
    {
        <p>Ocorrencia do Tipo - @item.Chave tem: <b>@item.Quantidade</b></p>
    }

</div>

<div class="arrow">

    <table id="data" class="stripe" style="width:100%">
        <thead>
            <tr>
                <th align="center">NossoNumero</th>
                <th align="center">Valor do Título</th>
                <th align="center">Cliente SGV</th>
                <th align="center">Tipo de Ocorrencia</th>
                <th align="center">Tipo de Cobrança</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in ViewBag.Cobrancas)
            {
                <tr>
                    <td align="center">@item.NossoNumero</td>
                    <td align="center">@item.ValorTitulo</td>
                    <td align="center">@item.ClienteId</td>
                    <td align="center">@item.TipoOcorrencia</td>
                    <td align="center">@item.TipoCobranca</td>
                </tr>
            }
        </tbody>
        @*<tbody>
                @foreach (var item in ViewBag.Boletos)
                {
                    <tr>
                        <td align="center">@item.BoletoNossoNro</td>
                        <td align="center">@item.BoletoValor</td>
                        <td align="center">@item.Cliente</td>
                        <td align="center"></td>
                        <td align="center">@item.TipoCobranca</td>
                    </tr>
                }
            </tbody>*@
    </table>

    @*<table id="datatable1" class="data">
            <thead>
                <tr>
                    <th align="center">NossoNumero</th>
                    <th align="center">Valor do Título</th>
                    <th align="center">Cliente SGV</th>
                    <th align="center">Tipo de Cobrança</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Boletos)
                {
                    <tr>
                        <td align="center">@item.BoletoNossoNro</td>
                        <td align="center">@item.BoletoValor</td>
                        <td align="center">@item.Cliente</td>
                        <td align="center">@item.TipoCobranca</td>
                    </tr>
                }
            </tbody>
        </table>*@

</div>

@*<div class="arrow">
        <div class="row col-md-5">
            <h4>Títulos no CNAB</h4>
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th align="center">NossoNumero</th>
                        <th align="center">Valor do Título</th>
                        <th align="center">Tipo Ocorrencia</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.BoletosGenerico)
                    {
                        <tr>
                            <td align="center">@item.NossoNumero</td>
                            <td align="center">@item.ValorTitulo</td>
                            <td align="center">@item.TipoOcorrencia</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <h4>Títulos no Cronn-SGV</h4>
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th align="center">NossoNumero</th>
                        <th align="center">Valor do Título</th>
                        <th align="center">Cliente SGV</th>
                        <th align="center">Tipo de Cobrança</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Boletos)
                    {
                    <tr>
                        <td align="center">@item.BoletoNossoNro</td>
                        <td align="center">@item.BoletoValor</td>
                        <td align="center">@item.Cliente</td>
                        <td align="center">@item.TipoCobranca</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>*@


@section Scripts{

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" />

    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#data').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'csv', 'excel', 'pdf'
                ]
                , "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                }
            });
        });
    </script>
}